.containerr {
  padding: 30px;
}

.containerr:fullscreen {
  --backdrop-color: rgb(255, 255, 255);
  background: transparent;
}

.containerr:fullscreen::backdrop {
  background-color: var(--backdrop-color);
}

.opening {
  display: flex;
}

.backbtn {
  cursor: pointer;
  height: 30px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(200, 233, 129);
  font-size: 15px;
}

.backbtn:hover {
  background-color: rgb(180, 232, 66);
}

.intro {
  display: flex;
}

.intro1 {
  font-size: 17px;
  flex: 1;
}

.intro2 {
  flex: 1;
  border: 5px solid;
  padding-right: 15px;
  font-weight: 500;
  height: fit-content;
}

.instructions-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.startbtn {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(200, 233, 129);
  margin-right: 20px;
}

.startbtn:enabled:hover {
  background-color: rgb(180, 232, 66);
}

.finishbtn {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(241, 131, 131);
  margin-right: 20px;
}

.finishbtn:enabled:hover {
  background-color: rgb(242, 93, 93);
}

.fullscreenbtn {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(93, 174, 125);
  margin-right: 20px;
}

.fullscreenbtn:hover {
  background-color: rgb(63, 149, 98);
}

.result {
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.result-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.result-text {
  font-size: 24px;
  color: #333;
}

.result-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.result-progress {
  height: 20px;
  background-color: #4CAF50;
  width: 0;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  color: white;
}

.webcam-view {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    border: 3px solid #4CAF50;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.camera-toggle {
    position: fixed;
    top: 10px;
    right: 120px;
    cursor: pointer;
    background-color: #f0f0f7;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, color 0.3s;
}

.camera-toggle:hover {
    background-color: #4CAF50;
    color: white;
}

.test-body {
  display: flex;
  justify-content: space-between;
}

.intro {
  flex: 3;
  display: flex;
}
.sidebar {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 3px;
  margin-left: 20px;
  grid-auto-rows: 30px;
  grid-auto-flow: row dense;
}

.nav-button {
  background-color: #e7e7e7;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}

.nav-button:hover {
  background-color: #d7d7d7;
}

.nav-button.active {
  background-color: #4CAF50;
  color: white;
}

.question-display {
  margin-top: 20px;
}

.question-display button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}

.question-display button:first-child {
  float: left;
}

.question-display button:last-child {
  float: right;
}

.question-display button:hover {
  background-color: #45a049;
}

.question-display button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.question-container {
  background-color: #f0f0f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
}

.question-container:hover {
  transform: scale(1.02);
}

.question-text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.option-text {
  font-size: 16px;
  font-weight: 400;
  color: #555;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.containerr:fullscreen {
  overflow-y: auto;
  --backdrop-color: #ffffff;
  background: var(--backdrop-color);
}

/* Enhanced Modal Styles */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 600px;
  min-width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  z-index: 1050;
  overflow: hidden;
}

.modal-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  text-align: center;
  color: #333;
}

.modal-body {
  padding: 20px;
  color: #666;
}

.modal-footer {
  padding-top: 10px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-button {
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.modal-button:hover {
  background-color: #0056b3;
}